name: Build and Publish Docker Images

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        run: echo "${{ secrets.GHCR_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build and push client image
        run: |
          docker build -t ghcr.io/${{ github.repository }}/mini-ecommerce-platform-client:latest ./client
          docker push ghcr.io/${{ github.repository }}/mini-ecommerce-platform-client:latest

      - name: Build and push server image
        run: |
          docker build -t ghcr.io/${{ github.repository }}/mini-ecommerce-platform-server:latest ./server
          docker push ghcr.io/${{ github.repository }}/mini-ecommerce-platform-server:latest
